<div class="row justify-content-center">
    <!-- <mat-progress-bar *ngIf="cargando && !modalIn" mode="indeterminate" class="alert-loading"></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && !modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" class="alert-loading">{{mensaje_alerta}}</ngb-alert> -->
    
    
    <h1 class="h3 mb-2 text-gray-800 col-12 text-center">Usuarios</h1>


    <div class="card shadow mb-4 col-12 col-lg-11" style="height: 100%;">
        <div class="card-header py-3 row justify-content-between">
            <div class="py-1 col-sm-12 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <input type="text" class="border-left-primary font-tamanio form-control" [(ngModel)]="filtroTexto"  name="filtroTexto" placeholder="Buscar..." >
                    </div>
                </div>
            </div>
            <!-- <div class="py-1 col-sm-12 col-md-4 col-lg-3" >
                <button  (click)="registerUserModal()" style="float:right" type="button" class="boton btn btn-primary ">Nuevo usuario</button>
            </div> -->
        </div>
        <div class="card-body text-gray-400 ">
            <div  *ngIf="usuarios.length<=0; else userModule">
                <h3>No hay usuarios registrados.</h3>
            </div>
           
            <div *ngIf="usuarios.length>0" class="row box-footer clearfix mt-3">     
                <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                <ngb-pagination *ngIf="usuarios.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="usuarios.length" [(page)]="currentPage"></ngb-pagination>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                    <option value="50">50 elementos</option>                    
                    <option value="100">100 elementos</option>                    
                    <option value="200">200 elementos</option>                    
                </select>  
                </div>    
            </div>
            <ng-template #userModule>
                <div class="table-module">
                    <table class="table table-bordered text-gray-400" id="dataTable" cellspacing="1">
                        <thead>
                            <tr>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_ID" (sort)="onSort($event)">Código</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_NOMBRES" (sort)="onSort($event)">Nombres</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_APELLIDO_PATERNO" (sort)="onSort($event)">Apellidos</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_CELULAR" (sort)="onSort($event)">Celular</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="ROL_ID" (sort)="onSort($event)">Rol</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_ESTADO" (sort)="onSort($event)">Estado</th>
                                <th class="color-row-table text-center puntero" >Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios |slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index  ">
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >{{usuario.USU_ID}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >{{usuario.USU_NOMBRES}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >{{usuario.USU_APELLIDO_PATERNO}}&nbsp;{{usuario.USU_APELLIDO_MATERNO}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >{{usuario.USU_CELULAR}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >{{usuario.ROL_ID==1?'Empleado':'Administrador'}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >{{usuario.USU_ESTADO==1?'Activo':'Inactivo'}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table" >
                                    <div class="row btnes">
                                        <div class="col-1 button-table"  *ngIf="usuario.USU_ESTADO != 1 && usuario.USU_ESTADO !=2; else Habilitar">
                                             <!-- <span (click)="habilitarInhabilitarUsuario(user.USU_ID,user.USU_ESTADO)" class="btn btn-success btn-circle btn-sm " ngbTooltip="Habilitar">
                                                <i class="fas fa-check" aria-hidden="true"></i>
                                            </span> -->
                                        </div>
                                        <ng-template #Habilitar>
                                            <div class="col-1 button-table">
                                                <!-- <span (click)="habilitarInhabilitarUsuario(user.USU_ID,user.USU_ESTADO)"  class="btn btn-danger btn-circle btn-sm "ngbTooltip="Deshabilitar">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span> -->
                                            </div>
                                        </ng-template>
                                        <div class="col-1 button-table">
                                            <!-- <span   (click)="seeMore(user)" class="btn btn-primary btn-circle btn-sm" ngbTooltip="Ver Más" >
                                                <i class="fas fa-eye" aria-hidden="true"   ></i>
                                            </span> -->
                                        </div>
                                        <div class="col-1 button-table btn-edit">
                                            <!-- <span (click)="editUser(user)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                                <i style="color: white;" class="far fa-edit" aria-hidden="true"   ></i>
                                            </span> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                    
                </div>
            </ng-template>
            
        </div>
    </div>

</div> 






<!-- <body>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Table Stripped</h4>
                <div class="table-responsive"> 
                    <table class="table table-bordered table-striped verticle-middle">
                        <thead>
                            <tr>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_ID" (sort)="onSort($event)">Código</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_NOMBRES" (sort)="onSort($event)">Nombres</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_APELLIDO_PATERNO" (sort)="onSort($event)">Apellidos</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_CELULAR" (sort)="onSort($event)">Celular</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="ROL_ID" (sort)="onSort($event)">Rol</th>
                                <th class="color-row-table text-center puntero" scope="col" sortable="USU_ESTADO" (sort)="onSort($event)">Estado</th>
                            </tr>
                        </thead>

                        <tbody> 
                            <tr *ngFor="let usuario of usuarios  | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index ">
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table">{{usuario.USU_ID}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table">{{usuario.USU_NOMBRES}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table">{{usuario.USU_APELLIDO_PATERNO}}&nbsp;{{usuario.USU_APELLIDO_MATERNO}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table">{{usuario.USU_CELULAR}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table">{{usuario.ROL_ID==1?'Empleado':'Administrador'}}</td>
                                <td *ngIf="usuario.USU_ID != USU_ID && usuario.USU_ID != 1 && usuario.USU_ID != 2"  class="color-row-table">{{usuario.USU_ESTADO==1?'Activo':'Inactivo'}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body> -->