<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="card mb-4" >
                <div class="card-header pb-0 row justify-content-between">
                        <div class="py-1 col-sm-12 col-md-5 col-lg-4">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="border-left-primary font-tamanio form-control" [(ngModel)]="filtroTexto"  name="filtroTexto" placeholder="Buscar..." >
                                </div>
                            </div>
                        </div>
                        <div class="py-1 col-sm-12 col-md-4 col-lg-3" >
                            <button  (click)="registerProveedorModal()" style="float:right" type="button" class="boton btn btn-primary ">Nuevo proveedor</button>
                        </div>                
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Codigo</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombres</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Apellidos</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Razon Social</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Celular</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Direccion</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let proveedor of proveedores |slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage ; let i = index  ">
                                    <td class=""   class="" >{{proveedor.PROV_ID}}</td>
                                    <td class=""   class="" >{{proveedor.PROV_NOMBRE}}</td>
                                    <td class="">{{proveedor.PROV_APELLIDOS}}</td> 
                                    <td class="" >{{proveedor.PROV_RAZON_SOCIAL}}</td>
                                    <td class="" >{{proveedor.PROV_NUM_CONTACT}}</td>
                                    <td class="" >{{proveedor.PROV_DIRECCION}}</td>
                                    <td *ngIf="proveedor.PROV_ID != PROV_ID">{{proveedor.PROV_ESTADO==1?'Activo':'Inactivo'}}</td>
                                    <div class="row btnes">
                                        <div class="col-1 button-table">
                                            <span   (click)="seeMore(proveedor)" class="btn btn-primary btn-circle btn-sm" ngbTooltip="Ver Más" >
                                                <i class="fas fa-eye" aria-hidden="true"   ></i>
                                            </span>
                                        </div>
                                        <div class="col-1 button-table btn-edit">
                                            <button (click)="editProveedor(proveedor)" class="btn btn-warning btn-circle btn-sm" ngbTooltip="Editar" >
                                                <i style="color: white;" class="far fa-edit" aria-hidden="true"   ></i>
                                            </button>
                                        </div>
                                    </div>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="proveedores.length>0" class="row box-footer clearfix mt-3">
                    <div class="col-xl-10 col-lg-9 col-md-7 col-sm-7 col-6">
                    <ngb-pagination *ngIf="proveedores.length>5" class="d-flex justify-content-start" size="sm" [maxSize]="5" [pageSize]="itemsPerPage"  [collectionSize]="proveedores.length" [(page)]="currentPage"></ngb-pagination>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5 col-6">
                    <select class="pull-right" [(ngModel)]="itemsPerPage" class="form-control form-control-sm custom-select">
                        <option value="50">50 elementos</option>                 
                        <option value="100">100 elementos</option>                  
                        <option value="200">200 elementos</option>                   
                    </select>  
                    </div>    
                </div>
            </div>
        </div>
    </div>  
</div>

<!-- modales -->

<ng-template #createProveedorModal let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Registrar Proveedor</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="proveedorForm">
            <div class="form-group">
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputNombre">Nombres</label>
                        <div>
                            <input type="text" formControlName="nombre" id="inputNombre" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Nombre(s)">
                            <div *ngIf="nombre!.invalid && (nombre!.dirty || nombre!.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="nombre!.errors!.required">
                                * El nombre de usuario es requerido.
                                </div>
                                <div *ngIf="nombre!.errors!.maxlength">
                                * Se requieren máximo 60 caracteres.
                                </div>
                                <div *ngIf="nombre!.errors!.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputApellidos">Apellidos</label>
                        <div>
                            <input type="text" formControlName="apellidos" id="inputApellidos" class="border-left-primary font-tamanio form-control" placeholder="Ingrese los Apellidos">
                            <div *ngIf="apellidos!.invalid && (apellidos!.dirty || apellidos!.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="apellidos!.errors!.required">
                                * Los apellidos son requeridos.
                                </div>
                                <div *ngIf="apellidos!.errors!.maxlength">
                                * Se requieren máximo 30 caracteres.
                                </div>
                                <div *ngIf="apellidos!.errors!.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputRazonSocial">Razon Social</label>
                        <div>
                            <input type="text" formControlName="razonSocial" id="inputRazonSocial" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Primer Apellido">
                            <div *ngIf="razonSocial!.invalid && (razonSocial!.dirty || razonSocial!.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="razonSocial!.errors!.required">
                                * Los apellidos son requeridos.
                                </div>
                                <div *ngIf="razonSocial!.errors!.maxlength">
                                * Se requieren máximo 20 caracteres.
                                </div>
                                <div *ngIf="razonSocial!.errors!.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputCelular">Celular</label>
                        <div>
                            <input type="text" formControlName="celular" id="inputCelular" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Celular">
                            <div *ngIf="celular!.invalid && (celular!.dirty || celular!.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="celular!.errors!.required">
                                * El celular es requerido.
                                </div>
                                <div *ngIf="celular!.errors!.maxlength">
                                * Se requieren máximo 9 caracteres.
                                </div>
                                <div *ngIf="celular!.errors!.minlength">
                                * Se requieren mínimo 9 caracteres.
                                </div>
                                <div *ngIf="celular!.errors!.pattern">
                                    * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputDireccion" >Direccion</label>
                        <div>
                            <input type="text" formControlName="direccion" id="inputDireccion" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Dirección">
                            <div *ngIf="direccion!.invalid && (direccion!.dirty || direccion!.touched)" class="my-1" style="color: rgb(197, 68, 68);">
                                <div *ngIf="direccion!.errors!.required">
                                * El direccion es requerido.
                                </div>
                                <div *ngIf="direccion!.errors!.maxlength">
                                * Se requieren máximo 100 caracteres.
                                </div>
                                <div *ngIf="direccion!.errors!.pattern">
                                * El formato es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row d-flex text-center justify-content-center">
        <div class="my-2 col-sm-12 col-md-12 col-lg-3 ">
            <button  (click)="createProveedor();" [disabled]="proveedorForm.invalid || cargando" class="btn btn-primary btn-icon-split" >
                <span class="text">Registrar&nbsp;<i class="fas fa-save"></i></span>
            </button>
        </div>
        <div class="my-2 col-sm-12 col-md-12 col-lg-3">
            <button [disabled]="cargando" (click)="d('Cross click')" class="btn btn-warning btn-icon-split">
                <span class="text">Cancelar&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
            </button>
        </div>
    </div>
</ng-template>


<ng-template #editProveedorModal let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Editar Proveedor</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="proveedorForm">
            <div class="form-group">
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputNombre">Nombres</label>
                        <div>
                            <input type="text" formControlName="nombre" id="inputNombre" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Nombre(s)">
                            
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputApellidos">Apellidos</label>
                        <div>
                            <input type="text" formControlName="apellidos" id="inputApellidos" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Segundo Apellido">
                            
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputRazonSocial">Razon Social</label>
                        <div>
                            <input type="text" formControlName="razonSocial" id="inputRazonSocial" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Primer Apellido">
                            
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputCelular">Celular</label>
                        <div>
                            <input type="text" formControlName="celular" id="inputCelular" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Celular">
                            
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputDireccion" >Direccion</label>
                        <div>
                            <input type="text" formControlName="direccion" id="inputDireccion" class="border-left-primary font-tamanio form-control" placeholder="Ingrese Dirección">
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row d-flex text-center justify-content-center">
        <div class="my-2 col-sm-12 col-md-12 col-lg-3 ">
            <button  (click)="updateProveedor();" [disabled]="proveedorForm.invalid || cargando" class="btn btn-primary btn-icon-split" >
                <span class="text">Registrar&nbsp;<i class="fas fa-save"></i></span>
            </button>
        </div>
        <div class="my-2 col-sm-12 col-md-12 col-lg-3">
            <button [disabled]="cargando" (click)="d('Cross click')" class="btn btn-warning btn-icon-split">
                <span class="text">Cancelar&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #seeMoreModal let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="modal-title">Ver Proveedor</h4>
    </div>
    <mat-progress-bar *ngIf="cargando && modalIn" mode="indeterminate" ></mat-progress-bar>
    <ngb-alert *ngIf="mostrar_alerta && modalIn" [type]="tipo_alerta" (closed)="mostrar_alerta = false" >{{mensaje_alerta}}</ngb-alert>
    <div class="modal-body">
        <form [formGroup]="proveedorForm">
            <div class="form-group">
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputNombre">Nombres</label>
                        <div>
                            <input type="text" disabled value="{{proveedorSelected.PROV_NOMBRE}}"  id="inputNombres" class="border-left-primary font-tamanio form-control" >
                            
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputApellidos">Apellidos</label>
                        <div>
                            <input type="text" disabled value="{{proveedorSelected.PROV_APELLIDOS}}" id="inputApellidoS" class="border-left-primary font-tamanio form-control" >
                            
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputRazonSocial">Razon Social</label>
                        <div>
                            <input type="text" disabled value="{{proveedorSelected.PROV_RAZON_SOCIAL}}" id="inputRazonSocial" class="border-left-primary font-tamanio form-control" >
                            
                        </div>
                    </div>
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputCelular">Celular</label>
                        <div>
                            <input type="text" disabled value="{{proveedorSelected.PROV_NUM_CONTACT}}" id="inputCelular" class="border-left-primary font-tamanio form-control" >
                            
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="my-2 col-sm-12 col-md-12 col-lg-6">
                        <label for="inputDireccion" >Direccion</label>
                        <div>
                            <input type="text" disabled value="{{proveedorSelected.PROV_DIRECCION}}" id="inputDireccion" class="border-left-primary font-tamanio form-control">
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row justify-content-center ">
            <div class="my-1 col-sm-3 col-md-3 col-lg-3">
                <a (click)="closeModal()" class="btn btn-warning btn-icon-split">
                    <span class="text"><strong>Cancelar</strong>&nbsp;<i class="fas fa-arrow-circle-left"></i></span>
                </a>
            </div>
        </div>
    </div>  
</ng-template>