<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PRENDAS</span>
          <button class="btn btn-success float-end" routerLink="">NUEVO</button>
          <table class="table table-striped mt-6">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <!-- <th scope="col">Codigo</th> -->
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
                <!-- <th scope="col">Imagen</th>
                <th scope="col">Estado</th> -->
                <th scope="col">Categoria</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prenda of prendas">
                <td>{{ prenda.PREN_CODIGO }}</td>
                <td>{{ prenda.PREN_NOMBRE }}</td>
                <td>{{ prenda.PREN_MARCA }}</td>
                <td>{{ prenda.PREN_PRECIO | currency:'S/ ' }}</td>
                <td>{{ prenda.CAT_NOMBRE }}</td>
                <td>
                    <i  class="fas fa-edit text-primary"></i>
                    <i  class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
            <!-- <tbody>
              <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Codigo</td>
                <td>Marca</td>
                <td>Precio</td>
                <td>Imagen</td>
                <td>Estado</td>
                <td>Categoria</td>
                <td>
                  <i class="bi bi-pencil-square text-primary col-1" style="font-size: 1.3em;"></i>
                  <i class="bi bi-trash-fill text-danger col-1" style="font-size: 1.3em;"></i>
                </td>
              </tr>
            </tbody> -->
          </table>
          <h5 style="text-align: start; margin-top: 10px" *ngIf="">
            No hay productos para mostrar
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
